
@font-face {
    font-family: Dongle;
    src: url(../fonts/Dongle-Light.ttf);
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: Dongle;
    src: url(../fonts/Dongle-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Dongle;
    src: url(../fonts/Dongle-Bold.ttf);
    font-weight: 700;
    font-display: swap;
}