:root {
  /* full height size - (padding top + padding bottom + header size + header margin bottom)   */
  --base-max-h: calc(100vh - (40px + 120px + 90px + 44px));
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}


.content-container {
  @apply text-xl leading-6;
}

.content-container h1 {
  @apply mb-3 text-4xl;
}

.content-container h2 {
  @apply mb-1 text-2xl;
}

.content-container a {
  @apply text-ecstasy-500;
}

.input-style {
  @apply w-full border-none rounded-full bg-gradient-to-t from-tan-hide-500 to-ecstasy-500 input-shadow focus:ring-white focus:border-none focus:outline-none placeholder:text-gray-200;
}

.submit-button {
  @apply w-full pt-1 text-3xl font-normal text-center rounded-full h-11 bg-gradient-to-t from-ecstasy-500 to-tan-hide-500 button-shadow focus:ring-white focus:border-none focus:outline-none;
}

.warn-button {
  @apply w-full pt-1 text-3xl font-normal text-center rounded-full h-11 bg-gradient-to-t from-red-600 to-red-400 button-shadow focus:ring-white focus:border-none focus:outline-none;
}

.light-button {
  @apply w-full text-3xl font-normal text-center focus:ring-white focus:border-none focus:outline-none;
}

.input-shadow {
  box-shadow: 0px 3.25px 15.4375px rgba(0, 0, 0, 0.25), inset 0px 1.625px 4.0625px -0.8125px #FFFFFF;
}

.button-shadow {
  box-shadow: inset 0px 2px 4px #FFFFFF;
}

.card-shadow {
  filter: drop-shadow(0px 4px 6px #0000002b);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
